// import first primary files
@import "./utilities";
@import "./components";
@import "./layouts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  @include webkit_scrollbar;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  background-color: var(--default-body-color);
  color: var(--default-text-color);
  overflow-x: clip;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include webkit_scrollbar;
}

main {
  flex: 1;
}

.logo {
  display: flex;
  width: 213px;
  height: 32px;

  @include break-up("lg") {
    width: 245px;
    height: 36px;
  }

  & * {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 100vh;
  height: 100svh;
  background-color: var(--cream);
  overflow: hidden;

  @include break-up('md') {
    max-height: 760px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../img/bg.webp");
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom center;
    mix-blend-mode: color-burn;
    user-select: none;
    pointer-events: none;
  }

  & > .container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-block {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 68px 0 0;

    @include break-up("md") {
      // grid-template-columns: 1fr 0.5fr;
    }

    @include break-up("lg") {
      grid-template-columns: 542px 1fr;
      padding: 0;
    }
  }

  &-figures {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 252px;
    z-index: -2;
    user-select: none;
    pointer-events: none;

    @include break-up("md") {
      position: absolute;
      top: 0;
      left: 0;
      min-height: unset;
    }
  }

  &-sun {
    position: absolute;
    bottom: 80px;
    right: 2vw;
    z-index: -1;
    width: 292px;
    height: 292px;
    object-fit: contain;
    animation: rotateInfinite 35s linear backwards;
    transform-origin: center;
    transform: rotate(0deg);

    @include break-up("md") {
      bottom: 80px;
      right: 2vw;
      width: 320px;
      height: 320px;
    }

    @include break-up("lg") {
      bottom: 80px;
      right: -50px;
      width: 560px;
      height: 560px;
    }

    @include break-up("xl") {
      right: 12px;
      width: 690px;
      height: 690px;
    }
  }

  &-city {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: auto;
    max-width: 874px;
    max-height: 252px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    transform: translateX(-70%);

    @include break-up("sm") {
      transform: translateX(-55%);
    }

    @include break-up("md") {
      transform: translateX(-50%);
    }

    @include break-up("lg") {
      max-width: 1178px;
      max-height: 312px;
      transform: translateX(-50%);
    }

    @include break-up("xl") {
      max-width: 1624px;
      max-height: 452px;
    }
  }

  &-main {
    @include break-up("lg") {
      margin: auto 0;
    }

    & > h1 {
      & span {
        display: block;

        &:nth-child(3) {
          text-indent: 1.5em;
        }

        &:nth-child(4) {
          text-indent: 0.85em;
        }
      }
    }
  }
}
