@font-face {
    font-family: 'Merriweather 24pt SemiCondensed';
    src: url('../../Merriweather24ptSemiCondensed-Bold.eot');
    src: local('Merriweather 24pt SemiCondensed Bold'), local('Merriweather24ptSemiCondensed-Bold'),
        url('../../Merriweather24ptSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../Merriweather24ptSemiCondensed-Bold.woff2') format('woff2'),
        url('../../Merriweather24ptSemiCondensed-Bold.woff') format('woff'),
        url('../../Merriweather24ptSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather 24pt SemiCondensed';
    src: url('../../Merriweather24ptSemiCondensed-Regular.eot');
    src: local('Merriweather 24pt SemiCondensed Regular'), local('Merriweather24ptSemiCondensed-Regular'),
        url('../../Merriweather24ptSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../Merriweather24ptSemiCondensed-Regular.woff2') format('woff2'),
        url('../../Merriweather24ptSemiCondensed-Regular.woff') format('woff'),
        url('../../Merriweather24ptSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Golos Text';
    src: url('../../GolosText-Medium.eot');
    src: local('Golos Text Medium'), local('GolosText-Medium'),
        url('../../GolosText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../GolosText-Medium.woff2') format('woff2'),
        url('../../GolosText-Medium.woff') format('woff'),
        url('../../GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../../GolosText-Regular.eot');
    src: local('Golos Text Regular'), local('GolosText-Regular'),
        url('../../GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../GolosText-Regular.woff2') format('woff2'),
        url('../../GolosText-Regular.woff') format('woff'),
        url('../../GolosText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../../GolosText-SemiBold.eot');
    src: local('Golos Text SemiBold'), local('GolosText-SemiBold'),
        url('../../GolosText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../GolosText-SemiBold.woff2') format('woff2'),
        url('../../GolosText-SemiBold.woff') format('woff'),
        url('../../GolosText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}