:root {
  --btn-size: 40px;
  --btn-line-height: 1;
  --btn-padding-y: 18px;
  --btn-padding-x: 20px;
  --btn-font-family: $font-family;
  --btn-font-size: 16px;
  --btn-background-color: var(--primary);
  --btn-color: var(--white);
  --btn-border-color: var(--primary);
  --btn-border-width: 2px;
  --btn-border-style: solid;
  --btn-border-radius: 1000px;

  @include break-up("lg") {
    --btn-line-height: 130%;
    --btn-padding-y: 20px;
    --btn-padding-x: 50px;
  }
}

.btn,
button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  border: var(--btn-border-width) var(--btn-border-style);
  border-color: var(--btn-border-color);
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  line-height: var(--btn-line-height);
  font-weight: 500;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  text-transform: none;
  transition: 0.25s ease-in-out;

  & * {
    user-select: none;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    --btn-background-color: var(--secondary);
    --btn-border-color: var(--secondary);
    --btn-color: var(--white);
  }

  &:focus:active,
  &.focus,
  &.active {
    --btn-background-color: var(--secondary);
    --btn-border-color: var(--secondary);
    --btn-color: var(--white);
  }

  &.disabled,
  &:disabled {
    --btn-background-color: var(--light-grey);
    --btn-color: var(--white);
    --btn-border-color: var(--light-grey);
    cursor: not-allowed;

    &:hover,
    &.hover,
    &:focus:active,
    &:focus,
    &.focus,
    &.active {
      --btn-background-color: var(--light-grey);
      --btn-color: var(--white);
      --btn-border-color: var(--light-grey);
    }
  }

  &.hidden,
  &:hidden {
    display: none;
  }

  &>i,
  &>svg {
    vertical-align: text-bottom;
    transition:
      transform 0.25s ease-in-out,
      color 0.05s ease-in-out;
  }

  &>svg {
    max-height: 100%;
    object-fit: contain;
  }

  &.aspected {
    --btn-padding-x: 6px;
    --btn-padding-y: 6px;
    --btn-padding-x: var(--btn-padding-y);
    width: var(--btn-size);
    height: var(--btn-size);
  }

  &-close {

    &>i,
    &>svg {
      transform: rotate(0deg);
    }

    &:hover {

      &>i,
      &>svg {
        transform: rotate(180deg);
      }
    }
  }

  &-burger {

    & i,
    & svg {
      display: flex;
    }
  }

  &-primary {
    --btn-background-color: var(--primary);
    --btn-color: var(--white);
    --btn-border-color: var(--primary);

    &:hover,
    &.hover {
      --btn-background-color: var(--secondary);
      --btn-border-color: var(--secondary);
      --btn-color: var(--primary);
    }

    &:focus:active,
    &:focus,
    &:active {
      --btn-background-color: color-mix(in srgb,
          var(--secondary) 70%,
          var(--primary) 10%);
      --btn-color: var(--primary);
      --btn-border-color: color-mix(in srgb,
          var(--secondary) 70%,
          var(--primary) 10%);
    }
  }

  &-outline {
    &-primary {
      --btn-background-color: var(--white);
      --btn-color: var(--primary);
      --btn-border-color: var(--white);

      @include break-up("lg") {
        --btn-background-color: transparent;
        --btn-color: var(--primary);
        --btn-border-color: var(--primary);
      }

      &:hover,
      &.hover {
        --btn-background-color: var(--primary);
        --btn-border-color: var(--primary);
        --btn-color: var(--white);
      }

      &:focus:active,
      &:focus,
      &:active {
        --btn-background-color: color-mix(in srgb,
            var(--primary) 70%,
            var(--dark) 10%);
        --btn-color: var(--white);
        --btn-border-color: color-mix(in srgb,
            var(--primary) 70%,
            var(--dark) 10%);
      }
    }
  }
}