:root {
  --btn-size: 40px;
  --btn-padding-y: 18px;
  --btn-padding-x: 20px;
  --btn-font-family: $font-family;
  --btn-font-size: 16px;
  --btn-background-color: var(--primary);
  --btn-color: var(--white);
  --btn-border-color: var(--primary);

  @include break-up("lg") {
    --btn-padding-y: 20px;
    --btn-padding-x: 50px;
  }
}

.btn,
button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  color: var(--btn-color);
  line-height: 1;
  font-weight: 700;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  text-transform: none;
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--btn-border-color);
  background-color: var(--btn-background-color);
  user-select: none;
  transition: 0.25s ease-in-out;

  & * {
    pointer-events: none;
  }

  &:hover,
  &.hover {
    --btn-background-color: var(--secondary);
    --btn-border-color: var(--secondary);
    --btn-color: var(--white);
  }

  &:focus:active,
  &.focus,
  &.active {
    --btn-background-color: var(--secondary);
    --btn-border-color: var(--secondary);
    --btn-color: var(--white);
  }

  &.disabled,
  &:disabled {
    --btn-background-color: var(--grey);
    --btn-color: var(--white);
    --btn-border-color: var(--grey);
    cursor: not-allowed;

    &:hover,
    &.hover,
    &:focus:active,
    &:focus,
    &.focus,
    &.active {
      --btn-background-color: var(--grey);
      --btn-color: var(--white);
      --btn-border-color: var(--grey);
    }
  }

  &.hidden,
  &:hidden {
    display: none;
  }

  & > i,
  & > svg {
    vertical-align: text-bottom;
    transition:
      transform 0.25s ease-in-out,
      color 0.05s ease-in-out;
  }

  & > svg {
    max-height: 100%;
    object-fit: contain;
  }

  &.aspected {
    --btn-padding-x: 6px;
    --btn-padding-y: 6px;
    --btn-padding-x: var(--btn-padding-y);
    width: var(--btn-size);
    height: var(--btn-size);
  }

  &-close {
    & > i,
    & > svg {
      transform: rotate(0deg);
    }

    &:hover {
      & > i,
      & > svg {
        transform: rotate(180deg);
      }
    }
  }

  &-burger {
    & i,
    & svg {
      display: flex;
    }
  }

  &-primary {
    --btn-background-color: var(--primary);
    --btn-color: var(--white);
    --btn-border-color: var(--primary);

    &:hover,
    &.hover {
      --btn-background-color: var(--secondary);
      --btn-border-color: var(--secondary);
      --btn-color: var(--primary);
    }

    &:focus:active,
    &.focus,
    &.active {
      --btn-background-color: var(--secondary);
      --btn-border-color: var(--secondary);
      --btn-color: var(--primary);
    }
  }

  &-outline {
    &-primary {
      --btn-background-color: transparent;
      --btn-color: var(--primary);
      --btn-border-color: var(--primary);

      &:hover,
      &.hover {
        --btn-background-color: var(--primary);
        --btn-border-color: var(--primary);
        --btn-color: var(--white);
      }

      &:focus:active,
      &.focus,
      &.active {
        --btn-background-color: var(--primary);
        --btn-border-color: var(--primary);
        --btn-color: var(--white);
      }
    }
  }
}
